.button {
  display: inline-block;
  vertical-align: top;
  padding: 15px 35px;
  border: 3px solid @white;
  border-radius: 25px;
  font-family: 'OpenSans';
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @white;

  &:hover {
    background-color: @white;
    color: @pink;
    cursor: pointer;
  }

  &:active {
    color: fade(@pink, 30);
    background-color: @white;
  }

  &--pink {
    width: 280px;
    border-color: @pink;
    color: @pink;
    background-color: transparent;
  }

  &--pink:hover {
    background-color: @pink;
    color: @white;
  }

  &--pink:active {
    background-color: @pink;
    color: fade(@white, 30);
  }

  &--cancel {
    width: 280px;
    border-color: @gray;
    color: @gray;
    background-color: transparent;
  }

  &--cancel:hover {
    background-color: transparent;
    border-color: @dark-gray;
    color: #c4c6c8
  }

  &--cancel:active {
    background-color: @dark-gray;
    border-color: @dark-gray;
    color: @gray;
  }


}
