.competition{
  padding: 0;
}

.competition__wrapper{
  padding-top: 40px;
  &--white{
    background-color: @white;
  }
  &--gray{
    background-color: @light-gray;
  }
}

.competition__fields{
  margin: 0 auto;
  padding: 0;
  width: 280px;
  border: none;
}

.competition__field{
  padding-bottom: 25px;
}

.competition__label{
  display: block;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.competition__input{
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 2px solid #e5e5e5;
}

.competition__legend{
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
}

.competition__checklist{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
}

.competition__achievements{
  padding-bottom: 40px;
}

.competition__checks-label{
  font-size: 18px;
  line-height: 30px;
  color: @midnight;
}

.competition__application-list{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
}

.competition__application{
  padding-bottom: 40px;
}

.competition__textarea{
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  padding: 15px 20px 0px 20px;
  border: 2px solid #e5e5e5;
}

.competition__submit{
  padding: 14px 44px;
  border: 3px solid #2aab6d;
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
}

.competition__additional{
  font-size: 14px;
  line-height: 30px;
  color: @midnight;
  text-transform: uppercase;
  text-align: center;

  &--important{
    color: @pink;
  }
}
