.contacts {
  padding: 0;
  padding-top: 45px;
}

.contacts__slogan {
  display: block;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.contacts__list {
  width: 238px;
  margin: 0 auto;
  padding: 0;
  padding-top: 34px;
  list-style: none;
  text-align: center;
}

.contacts__information {
  padding-bottom: 23px;
}

.contacts__title {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: lighter;
  color: @pink;
}

.contacts__href {
  color: @pink;
  text-decoration: none;

  &:hover {
    color: @midnight;
    border-bottom: 2px solid @midnight;
  }

  &:focus {
    color: @gray;
    border: none;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 100%;
  font-size: 0;
  line-height: 0;

  iframe {
    height: 200px;
    width: 100%;
    border: none;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100px;
    top: -1px;
    position: absolute;
    background: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

.contacts__address {
  margin-top: 7px;
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    font-size: 40px;
    font-weight: lighter;
    color: @midnight;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 640px;
    padding-top: 42px;
  }

  .contacts__phone,
  .contacts__mail {
    min-width: 50%;
    padding-bottom: 56px;
  }

  .contacts__address {
    min-width: 100%;
    margin-top: -4px;
  }

  .contacts__address .contacts__text {
    width: 220px;
    margin: 0 auto;
  }

  .contacts__map {
    height: 377px;
    margin-bottom: 33px;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    iframe {
      display: block;
      height: 385px;
    }

    &::before {
      width: 100%;
      height: 130px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 63px;
  }

  .contacts__map {
    height: 501px;
    margin-bottom: 63px;
    background-size: cover;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    iframe {
      height: 500px;
    }

    &::before {
      width: 100%;
      height: 150px;
    }
  }

  .contacts__slogan {
    font-size: 50px;
  }

  .contacts__phone,
  .contacts__mail,
  .contacts__address {
    min-width: 33.3%;
  }

  .contacts__phone {
    order: 1;
  }

  .contacts__address {
    order: 2;
  }

  .contacts__mail {
    order: 3;
  }

  .contacts__list {
    width: 960px;
    padding-top: 58px;
  }

  .contacts__title {
    padding-bottom: 25px;
  }
}
