.copyright__link {
  width: 42px;
  height: 49px;
  margin-left: 17px;
}

.copyright__htmlacademy {
  fill: @pink;
}

.copyright__htmlacademy:hover {
  fill: @midnight;
}

.copyright__htmlacademy:active {
  fill: #e9ebec;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-left: 3px;
  }
}


@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    line-height: 30px;
  }
}
