.editor {
  padding: 20px 0 40px 0;
  background-color: @light-gray;
}

.editor__photo {
  padding: 0 20px 40px 20px;
}

.editor__tools {
  max-width: 214px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid @gray;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 86px;
}

.editor__post {
  margin-bottom: 10px;
}

.editor__bar {
  width: 45px;
  height: 45px;
}

@media (min-width: @tablet-width) {
  .editor__wrapper {
    display: flex;
    flex-direction: row;
  }

  .editor__tools {
    flex-direction: column;
  }
}
