.editor {
  padding: 20px 0 40px 0;
  background-color: @light-gray;
}

.editor__wrapper {
  width: 280px;
  margin: 0 auto;
}

.editor__photo {
  margin-bottom: 40px;
}

.editor__tools {
  position: relative;
  max-width: 247px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 25px;
  border-bottom: 1px solid @gray;
}

.editor__tool {
  &--active {
    .editor__scale {
      display: block;
    }
  }

  &--deactive {
    .editor__scale {
      display: none;
    }
  }
}

.editor__scale {
  position: absolute;
  left: 0;
  top: 82px;
  width: 241px;
  height: 2px;
  background-color: #283645;
}

.editor__toggle {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -6px;
  right: 34px;
  background-color: #f2f2f2;
  border: 2px solid @pink;
  border-radius: 50%;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 86px;
}

.editor__post {
  margin-bottom: 10px;
}

.editor__bar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  margin-left: 17px;
  padding-bottom: 76px;
  width: 48px;
  height: 44px;
}

.editor__item {
  fill: #b5b9be;

  &--active {
    fill: @pink;
  }

  &:hover {
    fill: #8d949b;
  }
}

@media (min-width: @tablet-width) {
  .editor {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 0;
    margin-bottom: 17px;
  }

  .editor__wrapper {
    display: flex;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  .editor__photo {
    width: 300px;
    height: 400px;
    padding: 0;
    padding-top: 18px;
  }

  .editor__tools {
    display: block;
    margin-left: 13px;
    flex-direction: column;
    border: none;
  }

  .editor__tool {
    position: relative;
    display: flex;
    align-items: center;
    width: 275px;
    padding-top: 31px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddfe0;

    &--deactive {
      .editor__scale {
        display: block;
      }
    }
  }

  .editor__instruments {
    padding-left: 34px;
    max-width: 280px;
  }

  .editor__scale {
    left: 52px;
    top: 37px;
    width: 203px;
    margin-top: 0;

    &--bright {
      top: 35px;
    }
  }

  .editor__toggle {
    right: 42px;

    &:hover,
    &:active {
      background-color: @pink;
    }
  }

  .editor__buttons {
    width: 284px;
    padding-top: 40px;
  }

  .editor__post {
    margin-bottom: 26px;
  }

  .editor__bar {
    width: 25px;
    height: 25px;
    margin-left: 0;
    padding-bottom: 0;

    &--bright {
      margin-left: 5px;
      margin-top: -11px;
    }
  }

  .editor__item {
    width: 24px;
    height: 22px;
    fill: @pink;

    &--contrast {
      width: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .editor {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 77px;
    padding-top: 14px;
  }

  .editor__wrapper {
    width: 940px;
    padding-top: 27px;
  }

  .editor__photo {
    padding-left: 60px;
  }

  .editor__tools {
    margin-left: 55px;
  }

  .editor__tool {
    padding-top: 16px;
    padding-bottom: 11px;
    width: 410px;
  }

  .editor__scale {
    left: 93px;
    top: 35px;
    width: 288px;
  }

  .editor__bar {
    width: 45px;
    height: 45px;
  }

  .editor__buttons {
    width: 410px;
    margin-left: 55px;
    padding-top: 120px;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
  }

  .editor__post {
    margin: 0;
    margin-right: 40px;
  }

  .editor__item {
    width: 45px;
    height: 45px;
    fill: @pink;

    &--contrast {
      width: 33px;
    }
  }
}
