.intro {
  min-height: 271px;
  background-color: #1d2631;

  &--photo,
  &--form {
    min-height: 165px;
    background-color: transparent;
    display: flex;
  }
}

.intro__header {
  margin: 27px auto;
  padding: 0;
  width: 230px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;

  &--index {
    display: none;
  }
}

.intro__download {
  position: relative;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__download-button {
  margin-top: 28px;
}

.intro__description {
  margin: 0;
  padding: 0;
  max-width: 230px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.intro__platforms {
  width: 205px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.intro__link {
  display: block;
  width: 45px;
  height: 55px;
  background-repeat: no-repeat;

  &--apple {
    background-image: url("../img/logo-apple.svg");
    background-size: 46px 60px;
    background-position: 0% 80%;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-size: 43px 50px;
    background-position: 13% 70%;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-size: 66px 41px;
    background-position: 50% 70%;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    background-color: transparent;
    min-height: 330px;

    &--index {
      width: 300px;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .intro__download {
    margin-top: 0;
  }

  .intro__download-button {
    margin-top: 30px;
    padding: 15px 45px;
  }

  .intro__header {
    display: block;
    width: 356px;
    text-align: center;
    font-size: 50px;
    line-height: 57px;
    font-weight: lighter;

    &--index {
      margin-top: 23px;
      margin-bottom: 0;
      width: 245px;
      font-size: 40px;
      line-height: 48px;
    }

    &--photo {
      margin: 72px auto;
    }
  }

  .intro__platforms {
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .intro__description {
    max-width: 300px;
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 281px;

    &--index {
      margin: 0 8px;
      width: 303px;
    }
  }

  .intro__download {
    margin-top: 0;
  }

  .intro__header {
    font-size: 50px;
    line-height: 59px;

    &--index {
      margin-top: 39px;
      margin-left: 30px;
      margin-bottom: 0;
    }

    &--photo {
      margin-top: 65px;
    }
  }

  .intro__download-button {
    margin-top: 54px;
    padding: 16px 28px;
  }

  .intro__platforms {
    padding-top: 69px;
    padding-bottom: 54px;
  }
}
