.logo {
  &--header {
    padding-left: 0;
    margin-top: -3px;
  }

  &--pink-white-desktop,
  &--pink-white-mobile,
  &--pink-white-tablet {
    fill: @white;
  }

  &--pink-white-desktop:hover,
  &--pink-white-mobile:hover,
  &--pink-white-tablet:hover {
    fill: @pink;
  }

  &--pink-white-desktop:active,
  &--pink-white-mobile:active,
  &--pink-white-tablet:active {
    fill: @white;
    opacity: 0.3;
  }

  &--pink-blue-mobile:hover,
  &--pink-blue-desktop:hover {
    fill: @pink;
  }

  &--pink-blue-mobile:active,
  &--pink-blue-desktop:active {
    fill: @midnight;
    opacity: 0.3;
  }

  &--pink-white-tablet,
  &--pink-white-desktop,
  &--pink-blue-desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    &--header {
      padding-left: 0;
      margin-top: -14px;
    }

    &--pink-white-mobile {
      display: none;
    }

    &--pink-white-tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .logo {
    &--header {
      padding-left: 25px;
      margin-top: -12px;
    }

    &--pink-white-tablet,
    &--pink-blue-mobile {
      display: none;
    }

    &--pink-white-desktop,
    &--pink-blue-desktop {
      display: block;
    }
  }
}
