.prices {
  padding: 45px 0;
  background-color: @light-gray;
}

.prices__list-head {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: #283645;
}

.prices__value {
  box-sizing: border-box;
  min-width: 278px;
  padding-top: 16px;
  padding-bottom: 20px;
  border-left: 2px solid #e5e5e5;

  p {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
  }

  &--empty {
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: @light-gray;
    border: none;
  }
}

.prices__list-body {
  background-color: @white;
}

.prices__field {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  border-top: none;

  &--empty {
    min-width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
  }
}

.prices__toggles {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .prices__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .prices__list {
    width: 620px;
  }

  .prices__list-head {
    font-size: 16px;
  }

  .prices__field {
    min-width: 154px;
    padding: 7px 15px;

    &--empty {
      font-size: 14px;
      line-height: 30px;
      text-transform: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .price__list {
    min-width: 940px;
  }
}
