.slider__switcher {
  display: none;
}

.slider__toggle {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.slider__switcher--price-1:checked ~ .slider__toggles label[for="price-radio-1"],
.slider__switcher--price-2:checked ~ .slider__toggles label[for="price-radio-2"],
.slider__switcher--price-3:checked ~ .slider__toggles label[for="price-radio-3"] {
  background-color: #ffffff;
  border: 3px solid #283645;
}

.slider__switcher--price-2:checked ~ .prices__list {
  transform: translateX(0);
  transition: 0.5s;
}

.slider__switcher--price-1:checked ~ .prices__list {
  transform: translateX(280px);
  transition: 0.5s;
}

.slider__switcher--price-3:checked ~ .prices__list {
  transform: translateX(-280px);
  transition: 0.5s;
}

.slider__switcher--review-1:checked ~ .slider__toggles label[for="review-radio-1"],
.slider__switcher--review-2:checked ~ .slider__toggles label[for="review-radio-2"],
.slider__switcher--review-3:checked ~ .slider__toggles label[for="review-radio-3"] {
  background-color: #ffffff;
  border: 3px solid #283645;
}

@media (min-width: @desktop-width) {
  .slider__toggles {
    display: none;
  }
}
