// colors
@white: #ffffff;
@light-gray: #f2f2f2;
@gray: #dddfe0;
@dark-gray: #bfc3c6;
@midnight: #283645;
@pink: #d22856;


//sizes
@tablet-width: 660px;
<<<<<<< HEAD
@desktop-width: 960px;
@only-mobile: 659px;
@without-table: 959px;
=======
@desktop-width: 1200px;
@only-mobile: 659px;
@without-table: 1199px;
>>>>>>> 7fef5cafb03a90b26c75ecf7139983f7c92f9eb2

//retina
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
